{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game | WildCard</title>
        <link rel="stylesheet" type="text/css" href="{%static 'res/css/game.css'%}" />
        <script>
            function addMessage(message, name, time, type) {
                /*  message: String
                    name: String
                    time: String
                    type: 0 (Me), 1 (Friend)
                */
                let chat = document.getElementById("chat-display")
                let chat_template = document.createElement("div")
                if (type == 0) {
                    chat_template.innerHTML = '<div class="message-me message">\
                    <div>\
                        <table border="0" width="100%">\
                            <tr>\
                                <td>\
                                    <div class="message-content">\
                                        ' + message +  '\
                                    </div>\
                                    <div class="message-info">\
                                        ' + time + ' | ' + name + '\
                                    </div>\
                                </td>\
                                <td width="2"></td>\
                                <td width="32">\
                                    <img src="{%static 'res/player.png'%}" class="message-profile" />\
                                </td>\
                            </tr>\
                        </table>\
                    </div>\
                </div>'
                } else {
                    chat_template.innerHTML = '<div class="message-friend message">\
                    <div>\
                        <table border="0" width="100%"\
                            <tr>\
                                <td width="32">\
                                    <img src="{%static 'res/player.png'%}" class="message-profile" />\
                                </td>\
                                <td width="2"></td>\
                                <td>\
                                    <div class="message-content">\
                                        ' + message +  '\
                                    </div>\
                                    <div class="message-info">\
                                        ' + time + ' | ' + name + '\
                                    </div>\
                                </td>\
                            </tr>\
                        </table>\
                    </div>\
                </div>'
                }
                chat.appendChild(chat_template)
                chat.scrollTop = chat.scrollHeight
            }

            function showChat() {
                let chat = document.getElementById("chat-container")
                let chat_hide = document.getElementById("chat-hide")
                chat.style.transition = "all 1s ease"
                chat_hide.style.transition = "all 1s ease"
                chat_hide.style.transform = "translate(100%, -50%)"
                setTimeout( function() {
                    chat.style.transform = "translate(0, -50%)"
                }, 500 )
            }

            function hideChat() {
                let chat = document.getElementById("chat-container")
                let chat_hide = document.getElementById("chat-hide")
                chat.style.transition = "all 1s ease"
                chat_hide.style.transition = "all 1s ease"
                chat.style.transform = "translate(100%, -50%)"
                setTimeout( function() {
                    chat_hide.style.transform = "translate(0, -50%)"
                }, 1000 )
            }
        </script>
    </head>
    <body>
        <div id="game-body"></div>
        <div id="menuBtn"></div>
        <div id="playerBar">
            {% for player in players %}
            {% if player != username %}
            <div id="player1" class="player-icon">
                <img src="{%static 'res/player.png'%}" /><br>
                <label>{{player}}</label><br>
                <label id="{{player}}-score" class="score">100</label>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div id="cardStack">
            <img src="{%static 'res/card/1.png'%}" width="100%" />
        </div>
        <div id="playerStatus">
            <img src="{% static 'res/player.png' %}" /><br>
            <label id="playerNow">{{ current_turn }}</label>
        </div>
        <div id="cardCenter">
            <img src="{%static 'res/card/1.png'%}" class="card-center card-center-animation tilt03" width="160" />
        </div>
        <div id="cardMe-back"></div>
        <div id="cardMe">
        {% comment %} พื้นที่ Card {% endcomment %}
        {%for cd in mycard%}
        <img src="{% static cd %}" alt="" class="myCard" id="hCard{{ forloop.counter0 }}">
        {% endfor %}
        </div>
        <div id="waitForGame">
            <div>
                <label>
                    WildCard
                </label>
                <br>
                <label>
                    การ์ดเกมปัญหาสิ่งแวดล้อม
                </label>
                <br>
                <br>
                <br>
                <label id="waitLabel">
                    กำลังรอผู้เล่น.
                </label>
            </div>
        </div>
        <script>
            
        </script>
        <div id="chat-hide" onclick="showChat()">
            <img src="{%static 'res/chat.png'%}" width="40" />
        </div>
        <div id="chat-container">
            <div id="chat-title">
                <button type="submit" onclick="hideChat()">></button>&nbsp;
                Chat
            </div>
            <div id="chat-display">
                {%for i in messages%}
                {% if i.sender.lower == username.lower %}
                <div class="message-me message">
                    <div>
                        <table border="0" width="100%">
                            <tr>
                                <td>
                                    <div class="message-content">
                                        {{ i.message }}
                                    </div>
                                    <div class="message-info">
                                        12:34 | {{ i.sender }}
                                    </div>
                                </td>
                                <td width="2"></td>
                                <td width="32">
                                    <img src="{%static 'res/player.png'%}" class="message-profile" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% else %}
                <div class="message-friend message">
                    <div>
                        <table border="0" width="100%">
                            <tr>
                                <td width="32">
                                    <img src="{%static 'res/player.png'%}" class="message-profile" />
                                </td>
                                <td width="2"></td>
                                <td>
                                    <div class="message-content">
                                        {{ i.message }}
                                    </div>
                                    <div class="message-info">
                                        12:34 | {{ i.sender }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div id="chat-input">
                <form action="" method="post" id="msg-form">
                    {% csrf_token %}
                    <input type="text" id="message" name="message" placeholder="ระบุข้อความที่ต้องการส่ง" maxlength="256" required />
                    <div style="padding: 2px;"></div>
                    <button type="submit">ส่งข้อความ</button>
                </form>
            </div>
        </div>

        <script>
            const socketURL = `ws://${window.location.host}/ws/messages/{{room_name}}/`
            console.log("Entablishing Socket Connection")
            const socket = new WebSocket(socketURL)

            // send messages to the backend after connect with socket that make it realtime
            const message_form = document.getElementById("msg-form")
            message_form.addEventListener("submit", function (event) {
                event.preventDefault()
                let message_sent = document.getElementById("message").value
                socket.send(
                    JSON.stringify({
                        message:message_sent,
                        room_name:"{{ room_name }}",
                        sendman:"{{ username }}",
                    })
                )
            })

            const chat_div = document.getElementById("chat-display")
            // recieve message from backend
            socket.addEventListener("message", (e) => {
                const chaneldata = JSON.parse(e.data);
                
                if (chaneldata.type === "send_message") {
                    const data = chaneldata.message;
                    const sender = data["sendman"];
                    const content = data["message"];
            
                    if (sender === "{{ username }}") {
                        document.getElementById("message").value = "";
                    }
                    
                    addMessage(content, sender, "00:00", sender === "{{ username }}" ? 0 : 1);
                    console.log("Message sent");
            
                } else if (chaneldata.type === "player_list") {
                    const players = chaneldata.players;
                    const playerBar = document.getElementById("playerBar");
                    playerBar.innerHTML = '';
                    
                    players.forEach(player => {
                        if (player !== "{{ username }}") {
                        const playerDiv = document.createElement('div');
                        playerDiv.classList.add('player-icon');
                        playerDiv.innerHTML = `
                            <img src="{% static 'res/player.png' %}" /><br>
                            <label>${player}</label><br>
                            <label id="${player}-score" class="score">100</label>
                        `;
                        playerBar.appendChild(playerDiv);
                    }
                    });
                } else if (chaneldata.type === "hands_update"){
                    waitStart()

                    const hands = chaneldata.hands
                    const currentPlayer = "{{ username }}"

                    const my_card = document.getElementById("cardMe");
                    const my_hand = hands[currentPlayer]
                    setCurrentPlayer(chaneldata.fst)
                    my_card.innerHTML = ''
                    my_hand.forEach((card, index) => {
                        const i = card.type
                        const imgElement = document.createElement('img')
                        const staticBaseURL = "{% static 'res/card/' %}"
                        imgElement.src = `${staticBaseURL}${i}.png` // เปลี่ยน ${i} เป็นหมายเลขการ์ด
                        imgElement.className = 'myCard'
                        imgElement.id = `hCard${index}`
                        // เพิ่ม element <img> ลงใน container
                        my_card.appendChild(imgElement);
                    })
                    console.log(hands[currentPlayer])
                } else if (chaneldata.type === "game_state"){
                    setCurrentPlayer(chaneldata.current_turn)
                    const use = chaneldata.username
                    if (use === "{{ username }}"){
                        const user_hand = chaneldata.cardid
                        let element = document.getElementById(user_hand)
                        if (element) {
                            element.parentNode.removeChild(element);
                        }
                    }
                } else if (chaneldata.type === "draw_update"){
                    setCurrentPlayer(chaneldata.current_turn)
                    const user = chaneldata.username
                    if (user === "{{ username }}"){
                        const my_card = document.getElementById("cardMe")
                        const user_hand = chaneldata.hand
                        my_card.innerHTML = ''
                        user_hand.forEach((card, index) => {
                            const imgElement = document.createElement('img')
                            const staticBaseURL = "{% static 'res/card/' %}"
                            const i = card.type
                            imgElement.src = `${staticBaseURL}${i}.png` // เปลี่ยน ${i} เป็นหมายเลขการ์ด
                            imgElement.className = 'myCard'
                            imgElement.id = `hCard${index}`
                            // เพิ่ม element <img> ลงใน container
                            my_card.appendChild(imgElement);
                        })}
                }

            });

            function addCardCenter(card) {
                let cardCenter = document.getElementById("cardCenter")
                let removeAnimation = cardCenter.innerHTML.replace("card-center-animation", "")
                cardCenter.innerHTML = removeAnimation +
                 '<img src="{%static 'res/card/1.png'%}" class="card-center card-center-animation tilt0' + 
                 Math.floor(Math.random() * (5 - 1 + 1) + 1) + '" width="160" />'
            }

            function setCurrentPlayer(name) {
                document.getElementById("playerNow").innerText = name
            }

            function setPlayerScore(name, score) {
                document.getElementById(name + "-score").innerText = score
            }

            let waitLoop = setInterval(waitDotPlayer, 1000)
            let waitLabel = document.getElementById("waitLabel")
            let maxDot = 5
            let waitWord = "กำลังรอผู้เล่น"

            function waitDotPlayer() {
                let nextDot = waitLabel.innerText.split(".").length
                waitLabel.innerText = waitWord + ".".repeat(nextDot % maxDot)
            }

            function waitStart() {
                clearInterval(waitLoop)
                waitLabel.innerText = "เกมกำลังเริ่ม!"
                waitLabel.style.fontWeight = "bold"

                setTimeout( function() {
                    document.getElementById("waitForGame").style.opacity = 0
                    setTimeout( function() {
                        document.getElementById("waitForGame").style.display = "none"
                    }, 999 )
                }, 1500 )
            }

            document.querySelectorAll('.myCard').forEach(card => {
                card.addEventListener('click', function() {
                    const cardId = this.getAttribute('id'); // ไอดีหรือก็คือ เรากดที่ใบไหนในมือ
                    let imageSrc = this.getAttribute('src');
                    let lastSegment = imageSrc.split('/').pop(); // ได้ '1.png'
                    const number = lastSegment.split('.')[0]; // ได้ '1' หรือก็คือ ประเภทของไพ่
                    // ส่งข้อมูลผ่าน WebSocket
                    socket.send(
                    JSON.stringify({
                        cardid:cardId,
                        cardtype:number,
                        username:"{{username}}",
                    }))
                });
            });

            const cardStack = document.getElementById('cardStack')
            cardStack.addEventListener('click', function() {
                socket.send(
                    JSON.stringify({
                        action:"draw_card",
                        username: "{{username}}",
                    }))
            })

        </script>

    </body>
</html>