<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="game.css" />
        <script>
            function addMessage(message, name, time, type) {
                /*  message: String
                    name: String
                    time: String
                    type: 0 (Me), 1 (Friend)
                */
                let chat = document.getElementById("chat-display")
                let chat_template = document.createElement("div")
                if (type == 0) {
                    chat_template.innerHTML = '<div class="message-me message">\
                    <div>\
                        <table border="0" width="100%">\
                            <tr>\
                                <td>\
                                    <div class="message-content">\
                                        ' + message +  '\
                                    </div>\
                                    <div class="message-info">\
                                        ' + time + ' | ' + name + '\
                                    </div>\
                                </td>\
                                <td width="2"></td>\
                                <td width="32">\
                                    <img src="res/player.png" class="message-profile" />\
                                </td>\
                            </tr>\
                        </table>\
                    </div>\
                </div>'
                } else {
                    chat_template.innerHTML = '<div class="message-friend message">\
                    <div>\
                        <table border="0" width="100%"\
                            <tr>\
                                <td width="32">\
                                    <img src="res/player.png" class="message-profile" />\
                                </td>\
                                <td width="2"></td>\
                                <td>\
                                    <div class="message-content">\
                                        ' + message +  '\
                                    </div>\
                                    <div class="message-info">\
                                        ' + time + ' | ' + name + '\
                                    </div>\
                                </td>\
                            </tr>\
                        </table>\
                    </div>\
                </div>'
                }
                chat.appendChild(chat_template)
                chat.scrollTop = chat.scrollHeight
            }

            function showChat() {
                let chat = document.getElementById("chat-container")
                let chat_hide = document.getElementById("chat-hide")
                chat.style.transition = "all 1s ease"
                chat_hide.style.transition = "all 1s ease"
                chat_hide.style.transform = "translate(100%, -50%)"
                setTimeout( function() {
                    chat.style.transform = "translate(0, -50%)"
                }, 500 )
            }

            function hideChat() {
                let chat = document.getElementById("chat-container")
                let chat_hide = document.getElementById("chat-hide")
                chat.style.transition = "all 1s ease"
                chat_hide.style.transition = "all 1s ease"
                chat.style.transform = "translate(100%, -50%)"
                setTimeout( function() {
                    chat_hide.style.transform = "translate(0, -50%)"
                }, 1000 )
            }
        </script>
    </head>
    <body>
        <div id="menuBtn"></div>
        <div id="playerBar">
            <div id="player1" class="player-icon">
                <label>Copter</label>
                <img src="res/player.png" />
            </div>
            <div id="player1" class="player-icon">
                <label>Copter</label>
                <img src="res/player.png" />
            </div>
            <div id="player1" class="player-icon">
                <label>Copter</label>
                <img src="res/player.png" />
            </div>
        </div>
        <div id="cardStack">
            <img src="./res/card/1.png" width="100%" />
        </div>
        <div id="playerMe">

        </div>
        <div id="cardBlock">
            <img src="./res/card/1.png" class="cardBl" width="100%" />
        </div>
        <div id="cardMe">
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
            <img src="./res/card/1.png" class="myCard" />
        </div>
        <div id="chat-hide" onclick="showChat()">
            <img src="res/chat.png" width="40" />
        </div>
        <div id="chat-container">
            <div id="chat-title">
                <button type="button" onclick="hideChat()">></button>&nbsp;
                Chat
            </div>
            <div id="chat-display">
                <div class="message-friend message">
                    <div>
                        <table border="0" width="100%">
                            <tr>
                                <td width="32">
                                    <img src="res/player.png" class="message-profile" />
                                </td>
                                <td width="2"></td>
                                <td>
                                    <div class="message-content">
                                        This is looooooooooooooooooooooooong teeeeeeeeeext!
                                    </div>
                                    <div class="message-info">
                                        12:34 | Ohm
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="message-me message">
                    <div>
                        <table border="0" width="100%">
                            <tr>
                                <td>
                                    <div class="message-content">
                                        สวัสดีวันจันทร์
                                    </div>
                                    <div class="message-info">
                                        12:34 | Ohm
                                    </div>
                                </td>
                                <td width="2"></td>
                                <td width="32">
                                    <img src="res/player.png" class="message-profile" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="message-friend message">
                    <div>
                        <table border="0" width="100%">
                            <tr>
                                <td width="32">
                                    <img src="res/player.png" class="message-profile" />
                                </td>
                                <td width="2"></td>
                                <td>
                                    <div class="message-content">
                                        สวัสดีวันอังคาร
                                    </div>
                                    <div class="message-info">
                                        12:34 | Ohm
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="chat-input">
                <form action="" method="post" id="msg-form">
                    <!-- {% csrf_token %} -->
                    <input type="text" id="message" name="message" placeholder="ระบุข้อความที่ต้องการส่ง" />
                    <div style="padding: 2px;"></div>
                    <button type="submit">ส่งข้อความ</button>
                </form>
            </div>
        </div>
    </body>
</html>