{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Play | WildCard</title>
        <link rel="stylesheet" type="text/css" href="{%static 'res/css/game.css'%}" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function splashScreen() {
                setTimeout( function() {
                    document.getElementById("box").style.removeProperty("display")
                    document.getElementById("navbar").style.removeProperty("display")
                    document.getElementById("splash").classList.remove("fadeIn")
                    document.getElementById("splash").classList.add("fadeOut")
                    document.getElementById("box").classList.add("fadeIn")
                    document.getElementById("navbar").classList.add("fadeIn")
                    setTimeout( function() {
                        document.getElementById("splash").style.display = "none"
                    }, 1495 )
                }, 2000 )
            }

            function showScreen() {
                document.getElementById("box").style.removeProperty("display")
                document.getElementById("navbar").style.removeProperty("display")
                document.getElementById("splash").style.display = "none"
            }
        </script>
    </head>
    <body onload="splashScreen()">
        <div id="box" style="display: none;">
            <div class="box-background"></div>
            <div class="box-container">
                <div class="box-title">
                    ยินดีต้อนรับเข้าสู่บอร์ดเกม!
                </div>
                <div class="box-subtitle">
                    กรุณากรอกข้อมูลเพื่อเริ่มเล่นบอร์ดเกม
                </div>
                <hr>
                <div class="box-form">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div>
                            <label for="username">
                                <img src="{%static 'res/player.png'%}" width="16" />
                                ชื่อผู้เล่น:
                            </label>
                            <input type="text" placeholder="กรอกชื่อผู้เล่น (ไม่เกิน 32 ตัวอักษร)" name="username" id="username" maxlength="32" required>
                        </div>
                        <div style="margin-top: 12px;">
                            <label for="room">
                                หมายเลขห้อง:
                            </label>
                            <input type="text" placeholder="กรอกหมายเลขห้อง (ไม่เกิน 20 ตัวอักษร)" name="room" maxlength="20" required>
                        </div>
                        <div style="margin-top: 12px; text-align: center;">
                            <button type="submit">
                                เริ่มเล่น!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <nav id="navbar" style="display: none;">
            <div class="navcon">
                <div>
                    <img src="{%static 'res/player.png'%}" width="32" height="32" />
                    <label>&nbsp; WildCard</label>
                </div>
                <div>
                    <a href="#">เล่นเกม</a>
                    <a href="/rule">วิธีเล่น</a>
                    <a href="/project">เกี่ยวกับโปรเจค</a>
                </div>
            </div>
        </nav>
        <div id="splash" class="fadeIn">
            <div class="splash-logo">
                <img src="{%static 'res/logo.png'%}" />
            </div>
        </div>
        {% if message %}
        <script>
            Swal.fire({
                icon: "{{ message.icon }}",
                title: "{{ message.title }}",
                text: "{{ message.text }}"
            });
        </script>
        {% endif %}
    </body>
</html>