{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project | WildCard</title>
        <link rel="stylesheet" type="text/css" href="{%static 'res/css/game.css'%}" />
        <style>
            body {
                margin: 0;
            }

            .project-container {
                top: 0;
                background-color: rgba(255, 255, 255, 0.8);
                width: 85%;
                min-width: 100px;
                margin: auto;
                padding-top: 72px;
            }

            .myimg label {
                font-size: smaller;
            }

            .myimg {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="box-background"></div>
        <nav id="navbar">
            <div class="navcon">
                <div>
                    <img src="{%static 'res/player.png'%}" width="32" height="32" />
                    <label>&nbsp; PSCP_Project_101</label>
                </div>
                <div>
                    <a href="/">เล่นเกม</a>
                    <a href="/rule">วิธีเล่น</a>
                    <a href="#">เกี่ยวกับโปรเจค</a>
                </div>
            </div>
        </nav>
        <div class="project-container">
            <div class="myimg">
                <div>
                    <img src="https://www.it.kmitl.ac.th/~it67070057/nacopter123-profile.jpg" width="100%" class="img-profile">
                    <label>
                        นายทีปดา ชื่นเปรมปรีดิ์<br>
                    </label>
                    <label>
                        รหัสนักศึกษา 67070057
                    </label>
                </div>
                <div>
                    <img src="{%static 'res/img2.jpg'%}" width="100%" class="img-profile">
                    <label>
                        นายธรรรัตน์ พิริยะพงศธร<br>
                    </label>
                    <label>
                        รหัสนักศึกษา 67070073
                    </label>
                </div>
                <div>
                    <img src="{%static 'res/img3.jpg'%}" width="100%" class="img-profile">
                    <label>
                        นายปองพล บุรีรักษ์<br>
                    </label>
                    <label>
                        รหัสนักศึกษา 67070100
                    </label>
                </div>
                <div>
                    <img src="{%static 'res/img4.jpg'%}" width="100%" class="img-profile">
                    <label>
                        นายธนชาติ แซ่อ้วง<br>
                    </label>
                    <label>
                        รหัสนักศึกษา 67070062
                    </label>
                </div>
                <div>
                    <img src="{%static 'res/img5.jpg'%}" width="100%" class="img-profile">
                    <label>
                        นายธนาธิป ปานทัพ<br>
                    </label>
                    <label>
                        รหัสนักศึกษา 67070070
                    </label>
                </div>
            </div>
            <div class="myinfo">
                <label for="">
                    โปรเจกต์นี้กี่ยวกับการสร้างเว็บไซต์เกมการ์ดที่สามารถเล่นออนไลน์ได้ โดยผู้เล่นสามารถเล่นได้พร้อมกันหลายคน เพื่อเข้าร่วมและแข่งขันกับผู้เล่นคนอื่นๆ ได้อย่างพร้อมเพรียง ซึ่งเกมนี้ถูกออกแบบมาเพื่อให้ผู้เล่น ได้บริหารการ์ดที่มีอยู่ในมือ และจัดสรรลำดับการใช้การ์ดได้อย่างมีประสิทธิภาพ
                    การสร้างเว็บไซต์เกมการ์ดนี้จะเป็นสื่อการเรียนรู้และปลูกฝังความรู้เรื่องธรรมชาติพร้อมทั้งสอดแทรกความสนุกไปในตัว  และเข้าถึงได้ง่ายเนื่องจากเป็นเว็บไซต์เกมจึงสามารถเล่นได้จากทุกๆที่
                    เรามุ่งหวังที่จะสร้างประสบการณ์การเล่นเกมที่สนุกสนานและได้ความรู้ความตระหนักถึงสิ่งแวดล้อม
                    และ สามารถนำไปต่อยอดได้สำหรับผู้ที่สนใจ
                </label>
            </div>
        </div>
    </body>
</html>
