@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@keyframes fadeIN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOUT {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.myimg{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    max-width: 75%;
    margin: auto;
}
.img-profile{
    border-radius: 100%;
}

.myimg div{
    padding: 16px;
}

.myinfo{
    padding: 0 64px;
    margin-top: 32px;
}
.myinfo label{
    font-size: x-large;
}

#game-body {
    top: -2px;
    left: -2px;
    position: fixed;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-image: url("/static/res/game.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.fadeIn {
    animation-name: fadeIN;
    animation-duration: 1.5s;
}

.fadeOut {
    animation-name: fadeOUT;
    animation-duration: 1.5s;
}

body {
    font-family: "Chakra Petch", sans-serif;
}

form {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 64px;
    padding: 0 20px;
    background-color: rgba(56, 127, 57, 0.75);
    color: white;
    box-sizing: border-box;
}

.navcon {
    display: flex;
    transform: translate(0, 50%);
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.navcon img {
    vertical-align: middle;
}

.navcon label {
    font-size: larger;
    font-weight: bold;
    vertical-align: middle;
}

.navcon a {
    line-height: 32px;
    margin-left: 10px;
    font-size: 16px;
    font-family: "Chakra Petch", sans-serif;
    color: white;
    text-decoration: none;
    border-bottom: white 2px solid;
    transition: padding 0.2s ease, font 0.2s ease;
    /* padding: 8px 24px;
    border-width:1px;
    color: black;
    text-decoration: none;
    border-color:#eeb44f;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    text-shadow:inset 0px 1px 0px #cc9f52;
    background:linear-gradient(rgba(246, 233, 107, 1), rgba(246, 202, 107, 1)); */
}

.navcon a:hover {
    padding-bottom: 6px;
    font-weight: 600;
}

.navcon a:active {
    position: relative;
    padding-bottom: 4px;
    top: 1px;
}

.box-background {
    top: -8px;
    left: -8px;
    margin: 0;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    background-image: url("../home.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    position: fixed;
    z-index: -1;
}

.box-container {
    /* display: none; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 16px));
    position: fixed;
    padding: 28px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0px 0px 36px 6px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 0px 36px 6px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 36px 6px rgba(0,0,0,0.35);
}

.box-title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.box-subtitle {
    text-align: center;
    font-size: small;
    color: gray;
    margin-bottom: 12px;
}

.box-form {
    margin: 16px 12px 2px 12px;
}

#splash {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: auto;
    position: fixed;
}

.splash-logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    margin: auto
}

.splash-logo img {
    max-width: 320px;
    width: 30vw;
    height: auto;
}

#menuBtn {
    width: 24px;
    height: 24px;
    top: 16px;
    left: 16px;
    background-image: url("../menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: fixed;
}

#playerBar {
    top: 12px;
    left: 50%;
    margin-top: 2px;
    padding: 12px 2px;
    position: fixed;
    transform: translate(-50%, 0);
    width: 36vw;
    max-width: 1000px;
    min-width: 360px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    display: grid;
    column-gap: 16px;
    grid-template-columns: auto auto auto
}

.player-icon {
    width: 80px;
    margin: auto;
    text-align: center;
    display: inline;
}

.player-icon img {
    width: 60px;
    height: auto;
    margin-top: 4px;
}

#cardStack {
    top: 50%;
    left: calc(-72px - 1vw);
    position: fixed;
    transform: translate(-50%, 0);
    max-width: 200px;
    width: 25vw;
    height: auto;
    rotate: 90deg;
}

#cardMe {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    position: fixed;
    width: 70vw;
    max-height: 180px;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 100px;
}

#cardMe-back {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -200px);
    position: fixed;
    width: 71vw;
    height: 200px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

#cardBlock {
    display: none;
    /* animation: fadeIn 0.4s linear 1 normal; */
    margin: 0;
    top: 0;
    left: 0;
    width: 240px;
    height: 120px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.myCard {
    display: inline-table;
    position: relative;
    width: 120px;
    height: auto;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.myCard:not(:first-child) {
    margin-left: -50px;
}

.myCard:hover {
    transform: translate(0, -35%) scale(1.2);
    z-index: 99999;
}

.myCard:active {
    position: relative;
    transform: translate(0, -35%) scale(1.15);
}

#chat-hide {
    width: 64px;
    height: 64px;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px 0 0 16px;
    position: fixed;
    transition: all 1s ease;
    cursor: pointer;
}

#chat-hide img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chat-container {
    width: 24vw;
    min-width: 220px;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    position: fixed;
}

#chat-title {
    border-radius: 8px 0 0 0;
    background-color: gray;
    padding: 8px;
    font-size: larger;
    font-weight: bold;
}

#chat-display {
    background-color: whitesmoke;
    height: 28vh;
    padding: 12px;
    overflow-x: auto;
    overflow-y: auto;
}

#chat-input {
    border-radius: 0 0 0 8px;
    background-color: darkgray;
    padding: 8px;
}

.message-profile {
    background-color: white;
    border-radius: 360px;
    width: 24px;
    height: 24px;
    padding: 4px;
}

.message-content {
    word-wrap: break-word;
    text-align: left;
}

.message-info{
    font-size: x-small;
    color: gray;
    margin-top: 2px;
}

.message table {
    table-layout: fixed;
    width: 100%;
}

.message td {
    vertical-align: top;
}

.message-me td, .message-me .message-content{
    text-align: right;
}

.message:not(:first-child) {
    margin-top: 12px;
}

input {
    font-family: "Chakra Petch", sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #A2CA71;
    border-radius: 8px;
}

button[type=submit] {
    box-shadow: 0px 10px 14px -7px #387f39;
    background:linear-gradient(to bottom, #bedc74 5%, #a2ca71 100%);
    background-color:#bedc74;
    border-radius:4px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "Chakra Petch", sans-serif;
    font-size:13px;
    font-weight:bold;
    padding:12px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
}

button[type=submit]:hover {
    background:linear-gradient(to bottom, #a2ca71 5%, #bedc74 100%);
    background-color:#a2ca71;
}

button[type=submit]:active {
    position:relative;
    top:1px;
}